{% extends "::base.html.twig" %}

{% block html_tag %}
  <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml">
{% endblock %}


{% block content %}

<p><a class="share">Post to Feed</a></p>



{% endblock %}

{% block foot_script %}

{{ parent() }}

{{ facebook_initialize({'status': true,'xfbml': true, 'fbAsyncInit': false}) }}

<script>
  function goLogIn(){
      window.location.href = "{{ path('fos_user_security_check') }}";
  }

  function onFbInit() {
    
  
      $('a.share').on('click', function(e) {
        
        e.preventDefault();
        
        // calling the API ...
        var obj = {
          method: 'feed',
          link: '{{ url('organization_show', {'slug': organization.slug}) }}',
          picture: 'http://fbrell.com/f8.jpg',
          name: '{{ organization.state }}, {{ organization.community }}',
          caption: '{{ organization.eventLocation }} - {{ organization.eventTime | date('F jS \\a\\t g:ia') }}',
          description: 'For any information please contact with: {{ organization.contact.firstName }} {{ organization.contact.lastName }} - phone: {{ organization.contact.phone }}, email: {{ organization.contact.email }}'
        };

        function callback(response) {
          alert('added');
        }

        FB.ui(obj, callback);
        
        
      });
  


  }
              
</script>
      
{% endblock %}