{% extends "::base.html.twig" %}

{% set organization = app.user.organization %}

{% block page_header %}

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">{{ app.user.organization.name }} {% block extra_header %}{% endblock %}</a>
    <ul class="nav">
      <li>
        <a href="{{ path('sonata_user_profile_show') }}">Dashboard</a>
      </li>
      <li>
        <a href="{{ path('sonata_user_profile_edit') }}">Edit organization</a>
      </li>
      <li><a href="{{ path('organization_participants') }}">List of participants ({{organization.participants.count }})</a></li>
    </ul>
  </div>
</div>

{% endblock %}


{% block content %}

{% block content_page %}

<div class="row-fluid">

  <div class="span6">

    <h4>{{ organization.community }}, {{ organization.state }}</h4>

    <a href="{{ path('greeting_card') }}">View the Celebrate 60 Greeting Card &raquo;</a>

    <h4>Location</h4>
    <p>{{ organization.eventLocation }}</p>

    <h4>Event Time</h4>
    <p>{{ organization.eventTime|date('F jS \\a\\t g:ia') }}</p>

    <h4>Contact information</h4>
    <p>{{ organization.contact.firstName }} {{ organization.contact.lastName }}</p>
    <p>Phone: {{ organization.contact.phone }}</p>
    <p>Email: {{ organization.contact.email }}</p>


  </div>

  <div class="span6">


    <div id="map">
    </div>
  </div>

</div>

<style>
    #map img {
      max-width: none;
    }

  </style>

{% endblock %}

{% endblock %}
  
{% block foot_script %}
{{ parent() }}

{% javascripts
        'http://maps.google.com/maps/api/js?sensor=false&amp;language=en'
        '@WNCOrganizerBundle/Resources/public/js/gmap.js'
%}
  <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

  <script>
    (function($) {
        
      $("#map").gmap3({
        marker:{
           address: "{{ organization.state }}"
        },
         map:{
          options:
            {         
           zoom: 6
          }
          }
       });
       
       $(window).resize(function () {
    var h = $(window).height(),
        offsetTop = 60; // Calculate the top offset

        if(h > 500)
          h = 500;

    $('#map').css('height', (h - offsetTop));
}).resize();
  
    })(jQuery);
    </script>

{% endblock %}